/* section1 - main */
.navContainor{
  /* opacity: 0; */
  padding : 40px;
  z-index: 111;
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-gap : 40px;
}

.title{
    margin-bottom: 0px;
    font-size: 100px;
    line-height: 0.8;
    
}
  
.column.second {
  margin-right: 40px;
}


.navContainor .column .menu{
  font-size: 40px;
  margin: 0px 10px 140px -40px;
  line-height: 1.4;
  font-weight: 700;
}

.navContainor .column .introduce{
  font-size: 32px;
  font-weight: 700;
  /* margin: 0 0 60px -40px; */
  line-height: 1.4;
  margin-bottom: 60px;
}






/*section2*/
.work{
    background-color: #f7f7f7;
    padding: 50px 40px 60px 40px;
  }
  
  .work .works{
    font-size: 100px;
    /* background-color: yellow; */
    padding: 40px 40px 100px 10px;
  }
  .work .works::after{
    content: "";
    clear: both;
    display: table;
  }
  
  .work .works .works1{
      width: 700px;
      /* background-color: red; */
      float: left;
  }
  
  .work .works .works2{
      width: 700px;
      margin-left: 10px;
      background-color: blue;
      float: left;
  }
  
  
  
  /*section3*/
  .personalWork{
    background-color: #E8D3CF;
    padding: 50px 40px 60px 40px;
  }
  
  .list{
    padding: 40px 0px;
    position: relative;
    color:#D05A4B;
    /* background-color: yellow; */
  }
  
  
  
  
  /*section4*/
  .writing{
    padding: 50px 40px 60px 40px;
    /* position: relative; */
    overflow: hidden;
  }
  
  .writing:after{
      content: "";
      display: block;
      clear: both;
  }
  
  .writing .description{
    /* position: absolute; */
    /* min-width:170px;
    max-width:16%; */
    width: 16%;
    float: left;
    display: block;
    /* background-color: red; */
  }
  
  .writing .right{
      float: left;
      /* background-color: yellow; */
      width: 84%;
      overflow: auto;
  }
  .article:after{
      content: "";
      display: block;
      clear: both;
  }
  .article{
    width: 2000px;
  }
  .article li{
    float: left;
    display: block;
    margin-right: 4%;
    width: 300px;
    height: 240px;
    /* background-color: blue; */
    box-shadow:0 0 1px 0 rgba(192,200,204,.2), 0 5px 10px 0 #d0d5da
  }
  
  
  
  
  /*section5*/
  .footer{
    padding: 50px 40px 60px 40px;
    background-color: #3E3F40;
  }
  
  
  
  /* parallax */
  .parallax-window {
      min-height: 400px;
      background: transparent;
  }
  
  
  /* masonry */
  * { box-sizing: border-box; }
  
  /* force scrollbar */
  html { overflow-y: scroll; }
  
  body { font-family: sans-serif; }
  
  /* ---- grid ---- */
  
  .grid {
    background: #DDD;
  }
  
  /* clear fix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
  /* ---- .grid-item ---- */
  
  .grid-sizer,
  .grid-item {
    width: 33.333%;
  }
  
  .grid-item {
    float: left;
  }
  
  .grid-item img {
    display: block;
    width: 100%;
  }
  