/*section1*/
.main{
  padding: 50px 40px 60px 40px;
  /* height: 400px; */
}

.main .menu{
  height: 30px;
  /* background-color: yellow; */
  margin-bottom: 40px;
}

.main .title2{
  height: 30px;
  margin-top: 140px;
  margin-bottom: 16px;
}

.title{
  margin-bottom: 60px;
}

.description{
  margin-: 16px;
  line-height: 24px;
  max-width: 400px;
}


/*section2*/
.work{
  background-color: #f7f7f7;
  padding: 50px 40px 60px 40px;
}

.work .works{
  font-size: 100px;
  /* background-color: yellow; */
  padding: 40px 40px 100px 10px;
}
.work .works::after{
  content: "";
  clear: both;
  display: table;
}

.work .works .works1{
    width: 700px;
    /* background-color: red; */
    float: left;
}

.work .works .works2{
    width: 700px;
    margin-left: 10px;
    background-color: blue;
    float: left;
}



/*section3*/
.personalWork{
  background-color: #E8D3CF;
  padding: 50px 40px 60px 40px;
}

.list{
  padding: 40px 0px;
  position: relative;
  color:#D05A4B;
  /* background-color: yellow; */
}




/*section4*/
.writing{
  padding: 50px 40px 60px 40px;
  /* position: relative; */
}

.writing:after{
	content: "";
	display: block;
	clear: both;
}

.writing .description{
  /* position: absolute; */
  min-width:170px;
  max-width:16%;
  float: left;
  display: block;
  /* background-color: red; */
  margin-right: 8%
}

.writing .article{
    float: left;
    /* background-color: yellow; */
    width: 76%;

}

.shadow_box{
  float: left;
  display: block;
  margin-right: 4%;
  width: 20%;
  height: 240px;
  /* background-color: blue; */
  box-shadow:0 0 1px 0 rgba(192,200,204,.2), 0 5px 10px 0 #d0d5da
}



/*section5*/
.footer{
  padding: 50px 40px 60px 40px;
  background-color: #3E3F40;
}
