* {
  margin: 0;
  padding: 0;
}
body,div,img,section,h1,span,a {display: block;}
body,main,h1 {
  color: rgb(0,0,0,0.8); font-family: "lato", sans-serif, "open-arrow";font-weight: 700;margin: 0;
  /* font-family: "Helvetica Neue", "AppleSDGothicNeo-Light", "맑은 고딕",
    "Malgun Gothic", "돋움", dotum, Helvetica, Arial, sans-serif; */
}
li {
  list-style: none;
  /* position: relative; */
}

a,a:link,a:hover,a:active {color: inherit;text-decoration: none;}
img {width: 100%;height: auto;}
section {padding: 60px 40px 40px 60px;}

/* color */
:root {
  --main-color:#B56420;
}

/* text */
h1 {
  font-weight: 400;
  font-size: 6.4rem;
  line-height: 1;
  letter-spacing: -1px;
}
h2{
  font-size: 4rem;
  line-height: 1.36;
}
h3{
  font-size: 3rem;
  line-height: 1.4;
}
h4{
  font-size: 2rem;
  line-height: 1.3;
  /* font-weight: 400; */
}
h5 {
  font-size: 1.6rem;
  line-height: 1.56;
  font-weight: 400;
}
h6 {
  font-size: 1.4rem;
  line-height: 1.6;
}

.p-text1{ 
  /* font-family: 'Noto Sans SC', sans-serif; */
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
  opacity: 0.8;
}

.p-text2{
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6; 
}
.p-text3{
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.6; 
}

.p-text4{
  font-size: 0.86rem;
  font-weight: 700;
  line-height: 1.56; 
  color:rgb(0,0,0,0.54)
}

h1 span,
h4 span,
h6 span {
  overflow: hidden; /* background-color: pink; */
}

.text-y {
  transform: translateY(120%);
  transition: all 1s  cubic-bezier(0.3, 0.9, 0.2, 1.1);
}


/* ---------------Main --------------*/
main {
  position: relative;
}
.mobile{
  display: none;
}
/* section1 */
#home {
  position: relative;
  padding: 50px 30px 60px 60px;
  z-index: 111;
  height: 86vh;
}
.grid {
  display: flex;
}
.year {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.bottom_absolute {
  position: absolute;
  bottom: 0;
  width: 100%;
}
#home .down-arrow{
  width: 100%;
  height: 40px;
  margin-top: 10px;
}
#home .down-arrow img{
  margin: 0 auto;
  opacity: 0;
}

/* section1 - left */
.grid_left {
  position: relative;
  width: 52%;
}
.yeslee{
  display: inline-flex;
}
.yeslee .letter {
  /* margin-right:4px; */
  transform: translateY(100%);
  transition: all 0.8s cubic-bezier(0.4,1.32,.8,1.01);
}

/* section1 - right */
.grid_right {
  position: relative;
  width: 48%;
  height: 84vh;
}
.grid_right ul {
  margin-top:6px;
}
.grid_right li {
  position: relative;
  overflow: hidden;
}
.grid_right ul li a {
  font-size: 2.4rem;
  line-height: 1.3;
  margin-top: 2px;
  display: inline-flex;
}
.arrow{
  font-family: 'open-arrow', Helvetica, sans-serif;
  margin-left: 10px;
  margin-top: 16px;
  opacity: 0;
  font-size: 1.6rem;
}
.arrow.down{
  margin-top:0px;
  margin-left:20px;
}
.arrow.down.big{
  margin-top:-10px;
  margin-left:40px;
}
.arrow.up{
  margin-top:56px;
  margin-left:26px;
}

/* Main : section2*/
#work {
  background-color: #f9f8f6;
  height: 700px;
  position: relative;
  overflow: hidden;
  transition: 0s ease-out;
}
.sectionTitle {
  opacity: 0.6;
  margin-bottom: 40px;
  font-weight: 400;
  transition: 0s ease-out;
}

#work ul {
  position: absolute;
  width: 70%;
  z-index: 2;
}

#work ul li {
  display: inline-flex;
  margin-right: 24px;
  margin-bottom: 8px;
  overflow: hidden;
}
#work ul li a{
  display: inline-flex;
  cursor: url('/img/cursor.svg'), auto;
}

#work ul li .sub{
  display: none;
}
#work_img{
  display: none;
}
.photo {
  position: absolute;
  z-index: 1;
  width: 26%;
  opacity: 0;
  transition: 0.8s cubic-bezier(0.4,1.32,.8,1.01);
}
.photo.project01.img01{right: 0%;top: 34%;}
.photo.project01.img02{left: 24%;top: 70%;}
.photo.project01.img03{right: 14%;top: 60%;}

.photo.project02.img01{right: 20%;top: 50%;}
.photo.project02.img02{left: 24%;top: 78%;}
.photo.project02.img03{right: 0%;top: 32%;}

.photo.project03.img01{right: 0%;top: 44%;}
.photo.project03.img02{left: 60%;top: 20%;}
.photo.project03.img03{right: 64%;top: 60%;}

.photo.project04.img01{right: 26%;top: 50%;}
.photo.project04.img02{left: 10%;top: 80%;}
.photo.project04.img03{right: 2%;top: 20%;}

.photo.project05.img01{right: 24%;top: 36%;}
.photo.project05.img02{left: 10%;top: 70%;}
.photo.project05.img03{right: 2%;top: 60%;}

.photo.project06.img01{right: 30%;top: 80%;}
.photo.project06.img02{left: 10%;top: 40%;}
.photo.project06.img03{right: 0%;top: 60%;}

.img-cover-hidden{
  position: relative;
  overflow: hidden;
}
.img-cover{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 300px;
  background-color: #f9f8f6;
  transform: translateY(0%)
}
.mobileText {
  transform: translateY(120%);
  transition: all 1s  cubic-bezier(0.3, 0.9, 0.2, 1.1);
}



/* Main : section3*/
#more ul{
  margin-bottom: 40px;
}
#more ul li {
  overflow: hidden;
  font-size: 3.6rem;
  line-height: 1.36;
  margin-bottom: 10px;
  font-weight: 700;
  display: flex;
}

#more ul li .number {
  margin: 20px 180px 0 10px;
}

/* #more ul li a{
  background-color: #212121;
  background-position: 100% 0;
  background-size: 200% 200%;
  color: transparent;
  -webkit-background-clip: text;
} */
/* #more ul li a:hover {
  background-position: 0 0;
  color: transparent;
  transition: .3s;
} */
/* .behance{
  background-image: -webkit-linear-gradient(left, #0557FF 2%, #0557FF 50%, transparent 50%);
}
.dribbble{
  background-image: -webkit-linear-gradient(left, #EA4C89 2%, #EA4C89 50%, transparent 50%);
}
.medium{
  background-image: -webkit-linear-gradient(left, #00AC62 2%, #00AC62 50%, transparent 50%);
}
.linkdein{
  background-image: -webkit-linear-gradient(left, #0173B1 2%, #0173B1 50%, transparent 50%);
}
.resume{
  background-image: -webkit-linear-gradient(left, var(--main-color) 2%, var(--main-color) 50%, transparent 50%);
} */



/* Main : section4*/
#add {
  background-color: #f9f8f6;
  padding: 40px 40px 32px 40px;
}


@media (max-width: 1440px) {
  h4 {font-size: 2rem;}
  #work {transition: 0s}
}
@media (max-width: 1400px) {
  h4 {font-size: 1.8rem;}
}
@media (max-width: 1240px) {
  .grid_left{width:44% !important;}
  .grid_right{width:56% !important;}
  .grid_right ul li a {font-size: 2.2rem !important;}
  .grid_right ul {margin-top: 12px !important; line-height: 0;}
  .yeslee{font-size: 5.8rem;}
  .down-arrow{width:98% !important;}

  #header-inner #h-nav-primary ul{margin:68px 40px 40px 34px !important}
  #about-title ul{width: 84% !important}
}
@media (max-width: 1070px) {
  .grid_right ul {margin-top: 14px !important;}
  .grid_right ul li a {font-size: 2rem !important;}
  .grid_left{width:42% !important;}
  .grid_right{width:58% !important;}
  h4{font-size: 1.8rem}
  #about-title ul{font-size: 1.3rem !important}

}
@media (max-width: 1020px) {
  section {padding: 40px 20px 40px 40px;}
  #home {padding: 36px 40px 40px 40px !important;}
  .yeslee{font-size: 5rem !important;}
  .grid_left{width:40% !important;}
  .grid_right{width:60% !important;}
  .grid_right ul {margin-top: 22px !important;}
  .grid_right ul li a {font-size: 1.9rem !important;}
  .grid_left{width:42% !important;}
  .grid_right{width:58% !important;}
  h4{font-size: 1.6rem}

  #header-inner{left:49% !important}
  #header-inner #h-nav-primary ul{margin:68px 40px 40px 0px !important}
  #about-detail{width:48% !important;padding:114px 0px 4px 10px!important}
  #about-detail h5{font-size : 1.4rem}
}
@media (max-width: 920px) {
  #home{height: 92vh;}
  .yeslee{font-size:5.6rem !important; }
  .grid{display: block;}
  .year{bottom:-34px;margin-left: 10px;opacity:0.6; font-size:1rem; }
  .grid_left{width:100% !important;}
  .grid_right{width:100% !important; height: 86vh;}
  .grid_right ul li a{display:none !important;}
  .grid_right .arrow{display:none !important;}
  .introduce{bottom:110px !important; font-size: 2.2rem }
  .down-arrow{margin-top:-106px !important;}
  h2{font-size:3.6rem; line-height: 1.3}
  #work{height: 640px !important;transition: 0s}
  #work ul{width:90% !important}
  #more ul li{font-size:3.6rem !important; line-height: 1.3 !important}
  #more ul li .number{margin:20px 130px 0 4px !important}
  #add{padding:26px 40px 26px 40px !important}
  #add .right{line-height: 1.4;}

  .aboutHome.wide{display: none !important;}
  .aboutHome.small{display: block !important;}
  #about-title{z-index: 999; position:absolute !important;width:100% !important}
  #about-title ul{position: fixed !important;z-index:1;font-size: 1.1rem !important;bottom:24px !important; margin-left: 1px !important;}
  #about-title ul li{margin-right: 18px !important;}
  .ul-bg{display:block !important; margin-left: -40px}
  #header-inner{display: none;}
  #about-detail{width:98% !important; margin-top:140px; margin-bottom:200px !important;left:-1% !important}
  #about-detail h5{width:74% !important; font-size:1.2rem;line-height: 1.56;}
}
@media (max-width: 720px) {
  .yeslee{font-size:5.4rem !important; }
  .introduce{bottom:100px; font-size: 1.8rem }
  #about-title ul{width:90% !important; font-size:1rem !important;line-height: 1.56;}
  #about-title ul li{margin-right: 12px !important;}
}
@media (max-width: 600px) {
  #home{height: 86vh;}
  .grid_right{height: 86vh;}
  .introduce{font-size: 1.6rem;bottom:126px !important;;  }
  .down-arrow{margin-top:-124px !important; }
  .down-arrow img{width:28px !important; height: 28px !important;}
  #more ul li .number{margin:20px 100px 0 4px !important}
  #about-detail h5{width:90% !important;}
}
@media (max-width: 550px) {
  .introduce{font-size: 1.5rem }
  .sectionTitle.p-text2{font-size: 1rem !important; margin-bottom:24px} 
  h2{font-size:3.4rem; line-height: 1.4}
  #more ul li{font-size:3.4rem !important; line-height: 1.2 !important}
  #more ul li .number{margin:10px 80px 0 4px !important}
}
@media (max-width: 510px) {
  section{padding: 40px 20px 40px 30px;}
  #home{height: 600px; padding: 00px 20px 40px 30px !important;}
  /* #home.aboutme{height: 600px; padding: 0px 20px 40px 30px !important;} */
  .grid_right{height: 600px;}
  .yeslee{font-size:4rem !important; }
  .introduce{bottom:120px !important; font-size: 1.3rem}
  .down-arrow{margin-top:-120px !important; width:96% !important;}
  .down-arrow img{width:24px !important; height: 24px !important;}
  #add .description{width:100% !important}
  .arrow.up svg{width:36px;}
  .arrow.up{margin-top:46px;}

  .aboutHome.small{font-size: 3rem !important;position: absolute;top:-100px}
  .experience-year.p-text4{font-size: 0.78rem}
  .experience-sub.p-text4{font-size: 0.78rem}
  .experience-project.p-text4{font-size: 0.78rem}
  .true{margin-left: 10px;}
}
@media (max-width: 440px) {
  #home{height: 560px}
  .grid_right{height: 560px}
  .yeslee{font-size:3.6rem !important;}
  .introduce{font-size: 1.1rem;line-height: 1.56}
  #work{height: 540px !important;}
  .sectionTitle.p-text2{margin-bottom:24px !important;} 
  #more .sectionTitle.p-text2{margin-bottom:60px !important;} 
  h2{font-size:2.6rem;line-height: 1.2}
  #more ul {margin-bottom: 40px}
  #more ul li{font-size:2.6rem !important; line-height: 1 !important}
  #more ul li .number{margin:4px 48px -10px 4px !important}
  .arrow.up svg{width:30px;}
  .arrow.up{margin-top:36px;margin-left:18px;}
  .arrow.down.big svg{width:30px;}

  #about-detail{margin-left:-6px;margin-top:100px;}
  .aboutHome.small{top:-60px}
}
@media (max-width: 414px){
  .mobile{display: block !important;}
  .desktop{display: none !important;}
  section{padding:40px 18px 40px 18px !important}
  #home{height: 700px; padding:0 18px 40px 18px !important}
  .grid_right{height: 700px}
  .yeslee{font-size:2.2rem !important; font-weight: 700 !important;}
  .grid_left h6{position: absolute;top:-14px;width:100%;height: 100px;font-size:0.86rem}
  .year{margin-left: 2px}
  .introduce{display: none;}
  .introduce.mobile{font-size: 1.26rem; font-family: 100;line-height: 1.56;color:black;opacity: 0.8;}
  #work{height: 2730px !important;}
  #work ul li{margin-right: 0px; margin-bottom: 40px;}
  #work ul li a{display:inline; cursor: pointer;}
  #work ul li img{margin-bottom: 12px;}
  #work ul li .img-cover-hidden{margin-top: 20px}
  #work ul li a span{overflow: hidden;}
  #work ul li a span .p-text4{color:rgb(0,0,0,0.8);margin: 30px 0 2px 40px}
  #work ul li a span .p-text2{font-size: 1.26rem;line-height: 1.3;letter-spacing: -0.54px;}
  #more .sectionTitle.p-text2{margin-bottom: 40px !important}
  #more ul{margin-bottom: 0px !important}
  #more ul li {font-size: 2.8rem; line-height: 1.6 !important}
  #more ul li .number{margin:14px 32px -10px 4px !important}
  #add{padding : 26px 18px !important}
  .arrow{display:none !important}

  .aboutHome.small{margin-top: -10px !important}
  #about-title ul{display: none;}
  .ul-bg{display: none !important;}
  #about-detail{margin-bottom: 40px !important}
  #about-detail h5{width: 100% !important}
} 
@media (max-width: 380px){
  #work{height: 2570px !important;}
}
/* @media (pointer:coarse) {
} */




/* ––––––––––––––––About page––––––––––––––– */
/* .blackBg{
  width: 100%;
  height: 100vh;
  background-color:white;
  position: relative;
  overflow: hidden;
  animation: aboutAnimation 0.7s cubic-bezier(0.8,0.6,0.4,1) forwards;
  z-index: 200;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: bottom;
}
.bgTitle{
  position: absolute;
  bottom: 0;
  padding: 80px;
  color: white;
  font-weight: 400;
  font-size : 3rem;
}
.bgTitle.main{
  margin-left: 200px;
  opacity: 0;
}
.bgTitle.about{
  animation: aboutTitleAnimation 0.8s cubic-bezier(0.2, 0.4, 0.5, 0.9) forwards;
} */

/* left */
#home.about{
  position: relative;
}
#about-title {
  position: fixed;
  width: 50%;
  height: 88vh;
}
.aboutHome.small{
  display: none;
  font-size:3.4rem;
  margin-top: 10px;
  font-weight: 400;
}
#about-title ul {
  position: absolute;
  font-size: 1.5rem;
  line-height: 1.56;
  bottom : 0;
  width : 73%;
}
#about-title ul li {
  display: inline-block;
  margin-right: 10px;
}
.ul-bg{
  display: none;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0) 10%, rgb(255, 255, 255, 1) 90%);
  position: fixed;
  bottom:0;
  width: 100%;
  height: 140px;
}
/* right */
#header-inner{
  left: 50%;
  position: fixed;
  z-index: 200;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 1) 80%, rgb(255, 255, 255, 0));
  width: 100%;
}
#header-inner #h-nav-primary ul {
  left: 50%;
  display: -webkit-flex;
  display: flex;
  font-size: 1.4rem;
  margin: 64px 40px 40px 30px;
  opacity: 0;
  animation: aboutDetailAnimation 1.2s ease-out 0.2s forwards;
}
#header-inner #h-nav-primary ul li {
  margin-right: 30px;
}
#header-inner #h-nav-primary ul li .goWork {
  cursor: pointer; 
}

#about-detail {
  position: relative;
  margin-bottom: 40px;
  width: 44%;
  left: 48%;
  background-color: #f9f8f6;
  background-color: white;
  padding: 140px 0px 4px 40px;
  opacity: 0;
  transform: translate3d(0, 4%, 0);
  animation: aboutDetailAnimation 0.8s ease-out 0.2s forwards;
}

#about-detail h5 div {
  margin-bottom: 32px;
}
#index-content-list .list-tilte {
  margin: 80px 0 20px 0px;
}

#index-content-list ul {
  border-top: 1px solid #e7e7e7;
}
#index-content-list ul li{
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  padding: 16px 0px 18px 0px;
}

.experience-year {
  width: 40%;
  opacity: 1;
  margin-top: 4px;
}
.experience-sub {
  margin-left: 0.5px;
}
.experience-project {
  margin-left: -6px;
  opacity: 1;
  color: black;
}

.experience-image{
  width: 200px;
  position: fixed;
}





/* ––––––––––––––––Project Common––––––––––––––– */

#h-n .back{
  display: flex;
  width: 100%;
  padding : 40px 80px;
  margin-right: 30px;
  font-size: 1.2rem;
  width: 30px;
  height: 30px;
  opacity: 0;
  transform: translateY(20%);
}

.p-padding{
  padding-left: 80px;
  padding-right: 80px;
  overflow: hidden;
}
/* main1 */
.p-t{
  position: relative;
  padding-top:160px;
  padding-bottom: 40px;
  font-weight: 400;
  opacity: 0;
  transform: translateY(20%);
}
.p-t h2{
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.8px;
}
.p-t .sub{
  margin-top: 100px;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
}
.p-s{
  /* font-family: 'Noto Sans SC', sans-serif; */
  font-weight: 400;
  margin: 80px 0;
  font-size: 1.2rem;
  opacity: 0.8;
  letter-spacing: -0.4px;
  line-height: 2;
}

.p-image-main{
  padding-top : 60%;
  background-color:#070C19;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment:fixed; */
  background-image: url('/img/p_s_TV_00.jpg');
}

/* main2 */
.p-grid{
  padding-top:100px;
  padding-bottom: 40px;
  display: flex;
}
.p-grid .p-grid-l{
  width: 24%;
  margin-left : 40px;
  margin-right : 16%;
}
.p-grid .p-grid-r{
  width: 50%;
}

.p-summary {
  margin-top:60px;
}
.p-summary .contents{
  float: left;
  margin-bottom: 60px;
}

/* Samsung TV */
.box-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 24px;
  width: 80%;
  margin: 0 auto;
  padding-top:200px;
  padding-bottom: 200px;
  overflow: hidden;
}
.box{
  width: 100%;
  height: 180px;
  margin-bottom: 24px;
  background-size: cover;
  background-position: center;
  background-color: #e0e0e0;
}

.p-grid .p-grid-l.width45{
  width: 45%;
}
.right-container{
  position: relative;
}
.right-container .box{
  height: 400px;
  position: absolute;
}
.box.two{
  top:40px;
  left : 40px;
}
.box.three{
  top: 80px;
  left : 80px;
}

.text-container{
  padding-top: 100px;
  padding-bottom: 100px;
  width: 50%;
}

.grid-container{
  padding-bottom: 80px;
  background-color: #f5f5f5;
}
.scroll-item {
  overflow-x: scroll;
  overflow-y: hidden;
}

.items {
  position: relative;
  width: 100%;
  left: 80px;
  white-space: nowrap;
  transition: all 0.2s;
  // transform: scale(0.98);
  will-change: transform;
  user-select: none;
  cursor: pointer;
}
.scroll-item::-webkit-scrollbar {
  display: none; }

.items.active {
  background: rgba(255,255,255,0.3);s
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.item {
  display: inline-block;
  background: skyblue;
  min-height: 400px;
  min-width: 600px;
  margin-right: 16px;
}

.next-container{
  color: white;
  display: flex;
  background-color: #070C19;
}

.next-text{
  margin: 200px 100px; 
}


/* --------------------Hover-------------------- */
.aboutHome.wide:hover, .experience-title.hover:hover, .experience-project:hover, #more ul li a:hover, #h-nav-primary ul li a:hover, #about-title ul li a:hover {
  color:var(--main-color);
  cursor: pointer; 
}

@media (hover: none) {
  .experience-title.hover:hover, .experience-project:hover, #more ul li a:hover, #h-nav-primary ul li a:hover, #about-title ul li a:hover,.line:hover,.line:hover .arrow, .line.down:hover .arrow,.line.down:hover + .arrow,.line.up:hover + .arrow {
    color: rgb(0,0,0,0.8)
  }
}



/* --------------------Animation-------------------- */
/* Main */
@keyframes arrowDown{
  0% {
    opacity: 0.5;
    transform: translate3d(0, 0%, 0);
  }
  50% {
    opacity: 0.8;
    transform: translate3d(0, 20%, 0);
  }
  100% {
    opacity: 0.5;
    transform: translate3d(0, 0%, 0);
  }

}
/* About */
/* .overlay {
  z-index: 200;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: black;
  left: 0;
  top: 0;
  transform: translate3d(150%, 0%, 0);
  transform-origin: bottom;
}
.animate{
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.2, 0.4, 0.5, 0.9);
  transition-delay: 2s; 
}
@keyframes bgTitleAnimation {
  0% { opacity: 0; margin-left: 180px}
  100% {opacity: 1; margin-left: 0px}
}
@keyframes aboutAnimation {
  0% {transform: translate3d(0, 0%, 0); background-color: black}
  100% {transform: translate3d(0, -100%, 0); background-color: black;}
}
@keyframes aboutTitleAnimation {
  0%{opacity: 1; transform: translate3d(0, 0%, 0);}
  100%{opacity: 0; transform: translate3d(0, 80%, 0);}
} */
@keyframes aboutDetailAnimation {
  0%{opacity: 0; transform: translate3d(0, 7%, 0);}
  100%{opacity: 1; transform: translate3d(0, 0%, 0);}
}
/* @keyframes swipe {
  0% {
    transform: translate3d(120%, 0, 0);
  }
  16% {
    transform: translate3d(0%, 0%, 0);
  }
  100% {
    transform: translate3d(0%, 0%, 0);
  }
} */


.line:hover{
  color:var(--main-color);
}


.line:hover .arrow{
 opacity: 1;
 transform: translateX(50%);
 transition: all 0.5s cubic-bezier(0.2, 0.6, 0.5, 0.91); 
 transition-delay: 0.1s; 
}
.line.down:hover .arrow{
  opacity: 1;
  transform: translateY(30%);
  transition: all 0.5s cubic-bezier(0.2, 0.6, 0.5, 0.91); 
  transition-delay: 0.1s; 
 }
 .line.down:hover + .arrow{
  opacity: 1;
  transform: translateY(36%);
  transition: all 0.5s cubic-bezier(0.2, 0.6, 0.5, 0.91); 
  transition-delay: 0.1s; 
 }
.line.up:hover + .arrow{
  opacity: 1;
  transform: translate3d(40%,-70%,0);
  transition: all 0.5s cubic-bezier(0.2, 0.6, 0.5, 0.91); 
  transition-delay: 0.1s; 
 } 
